<table>
    <tr>
        <th>username</th>
        <th>first_name</th>
        <th>last_name</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.username }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if query_results.has_previous %}
            <a href="?page={{ query_results.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ query_results.number }} of {{ query_results.paginator.num_pages }}.
        </span>

        {% if query_results.has_next %}
            <a href="?page={{ query_results.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>