<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>url</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.docfile.url }}</td>
        <td>{{ item.docfile.name }}</td>
        <td><img src="{{ MEDIA_URL }}{{ item.docfile.url }}" alt="" /></td>
    </tr>
    {% endfor %}
</table>

<div class="paginatio1">
    <span class="step-links">
        {% if query_results.has_previous %}
            <a href="?page={{ query_results.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ query_results.number }} of {{ query_results.paginator.num_pages }}.
        </span>

        {% if query_results.has_next %}
            <a href="?page={{ query_results.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>